doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='theme-color', content='#F1EFA5')
    title Daniel Jones
    link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet", type="text/css", href="main.css")
  body
    != yield

    script(type="application/javascript", src="//code.jquery.com/jquery-2.2.0.min.js")
    script(type="application/javascript", src="main.js")
