nav: ul
  li: a(href='#home') Daniel Jones
  li: a(href='#about') About
  li: a(href='#portfolio') Portfolio
  li: a(href='#contact') Contact

#home.nav-target

section.section-home: .container
  h1 Daniel Jones
  .avatar
  h2.subtitle Full-Stack Web Developer
  .networks: ul
    li: a(href='https://github.com/tortxof') #[i.fa.fa-2x.fa-github] GitHub
    li: a(href='https://www.linkedin.com/in/daniel-jones-9a95287b') #[i.fa.fa-2x.fa-linkedin-square] LinkedIn
    li: a(href='http://www.freecodecamp.com/tortxof') #[i.fa.fa-2x.fa-free-code-camp] Free Code Camp
    li: a(href='/resume.pdf') #[i.fa.fa-2x.fa-file-pdf-o] Resume

#about.nav-target

section.section-about: .container

  h2 About

  != partial('_about')

  h3 Skills

  ul
    li HTML
    li CSS
    li JavaScript
    li React
    li jQuery
    li Handlebars
    li Python
    li Flask
    li RESTful Services
    li Django
    li SQLite
    li PostgreSQL
    li Jekyll
    li Sass
    li Linux
    li BASH
    li Git
    li Node.js
    li Docker
    li NGINX
    li Apache
    li Amazon S3
    li Amazon EC2
    li Amazon Route 53
    li Let&rsquo;s Encrypt

#portfolio.nav-target

section.section-portfolio: .container

  h2 Portfolio

  h3 Simon

  p.

    #[a(href='http://codepen.io/tortxof/full/vGVdWL/'): img.left(src='https://s3.amazonaws.com/djones-imghost/4zaVgVJB/simon-screenshot.jpg')]
    A reproduction of the classic Simon game in JavaScript. Built for FreeCodeCamp.
    View project on #[a(href='http://codepen.io/tortxof/full/vGVdWL/') CodePen].

  .clearfix
  h3 Tic-Tac-Toe

  p.

    #[a(href='http://codepen.io/tortxof/full/grZRGv/'): img.right(src='https://s3.amazonaws.com/djones-imghost/1Dr43zHC/tictactoe-screenshot.jpg')]
    An interactive game allowing the user to play tic-tac-toe against a computer opponent. Uses jQuery.
    View project on #[a(href='http://codepen.io/tortxof/full/grZRGv/') CodePen].

  .clearfix
  h3 Pomodoro Timer

  p.

    #[a(href='http://codepen.io/tortxof/full/mVdave/'): img.left(src='https://s3.amazonaws.com/djones-imghost/jcF0oUdp/pomodoro-screenshot.jpg')]
    An app that helps the user in applying the
    #[a(href='https://en.wikipedia.org/wiki/Pomodoro_Technique') Pomodoro Technique]
    of time management.
    View project on #[a(href='http://codepen.io/tortxof/full/mVdave/') CodePen].

  .clearfix
  h3 Wikipedia Viewer

  p.

    #[a(href='http://codepen.io/tortxof/full/BjPWba/'): img.right(src='https://s3.amazonaws.com/djones-imghost/riNDdsdA/wikiviewer-screenshot.jpg')]
    Uses AJAX requests to get search results from Wikipedia.
    Displays search results using #[a(href='http://handlebarsjs.com/') Handlebars] template.
    View project on #[a(href='http://codepen.io/tortxof/full/BjPWba/') CodePen].

  .clearfix
  h3 rc-club-members

  p.

    #[img.left(src='https://s3.amazonaws.com/djones-imghost/iT0BeIDm/rc-club-members-screenshot.jpg')]
    A Flask application for managing the membership roster of an RC club. The
    admin interface lists members based on membership expiry date (current,
    expired, previous year). Provides JSON import and export. Search using
    sqlite3 full text search (FTS4). Provides mass email using the Mailgun API
    for sending newsletters, announcements, etc. Read-only passwordless login is
    provided to members through a signed token sent in newsletters, or emailed
    to an individual member via the login page. Provides CSV and XLSX export of
    roster. Uses the Flask framework and peewee ORM. Deployed with Docker behind
    an nginx uwsgi proxy.
    GitHub repository at
    #[a(href='https://github.com/tortxof/rc-club-members') tortxof/rc-club-members].

  .clearfix
  h3 flask-signup

  p.

    This application provides a publicly-available self-serve form handling
    back-end. The user retrieves a key pair (secret key and form key) from the
    app, then uses the form key in their HTML forms. The user can then use their
    secret key to retrieve submitted form data. The app provides both web and
    JSON interfaces. Uses the Flask framework and peewee ORM. Deployed with
    Docker behind an nginx reverse proxy.
    GitHub repo at #[a(href='https://github.com/tortxof/flask-signup') tortxof/flask-signup].
    Live at #[a(href='https://signup.djones.co/') signup.djones.co].

  .clearfix
  h3 Black Sheep RC Club

  p.

    #[a(href='https://www.bsrcc.com/'): img.right(src='https://s3.amazonaws.com/djones-imghost/sueAa0K-/bsrcc-screenshot.jpg')]
    Static website built using #[a(href='https://jekyllrb.com/') Jekyll].
    Started in January 2014.
    Uses #[a(href='http://susy.oddbird.net/') Susy] for CSS layout.
    PDF newsletters are generated using
    #[a(href='http://wkhtmltopdf.org/') wkhtmltopdf].
    Live website at #[a(href='https://www.bsrcc.com/') bsrcc.com].
    GitHub repository at
    #[a(href='https://github.com/tortxof/blacksheeprcclub-www/') tortxof/blacksheeprcclub-www].

#contact.nav-target

section.section-contact: .container

  h2 Contact

  .contact-container
    h3: a(href='mailto:tortxof@gmail.com') tortxof@gmail.com

    form#contact-form(method='post', action='https://signup.djones.co/submit/Fn9mZh0um8jUGm2rsRcmSgSIMPpI99E4')
      input(type='email', name='email', placeholder='Email')
      textarea(name='message', rows='3', placeholder='Message')
      button#submit(type='submit') Send

#contact-success-modal
  p Thanks for contacting me!
