nav: ul
  li: a(href='#home') Home
  li: a(href='#about') About
  li: a(href='#portfolio') Portfolio
  li: a(href='#contact') Contact

#home.nav-target

section.section-home: .container
  h1 Daniel Jones
  h2.subtitle Web Developer
  .networks: ul
    li: a(href='https://github.com/tortxof') #[i.fa.fa-github] GitHub
    li: a(href='https://www.linkedin.com/in/daniel-jones-9a95287b') #[i.fa.fa-linkedin-square] LinkedIn
    li: a(href='http://www.freecodecamp.com/tortxof') freeCodeCamp

#about.nav-target

section.section-about: .container

  h2 About

  p.

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, cumque,
    porro. Accusamus id esse, eligendi totam quas veniam assumenda odio officiis
    vitae facilis cupiditate, facere beatae necessitatibus error accusantium,
    sequi.
    
#portfolio.nav-target

section.section-portfolio: .container

  h2 Portfolio

  h3 Pomodoro Timer
  h3 Wikipedia Viewer
  h3 rc-club-members
  h3 flask-signup
  h3 flask-password
  h3 Black Sheep RC Club

  p.

    Static website built using #[a(href='https://jekyllrb.com/') Jekyll].
    Started in January 2014.
    Uses #[a(href='http://susy.oddbird.net/') Susy] for CSS layout.
    PDF newsletters are generated using
    #[a(href='http://wkhtmltopdf.org/') wkhtmltopdf].
    Live website at #[a(href='https://www.bsrcc.com/') bsrcc.com].
    GitHub repository at
    #[a(href='https://github.com/tortxof/blacksheeprcclub-www/') tortxof/blacksheeprcclub-www].

#contact.nav-target

section.section-contact: .container

  h2 Contact

  p.

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor sunt maxime
    soluta? Dolore perferendis, velit voluptates adipisci consequatur vitae
    iusto cum ipsum quia esse, eos voluptatem. Tempora voluptatem velit impedit!
