nav: ul
  li: a(href='#home') Daniel Jones
  li: a(href='#about') About
  li: a(href='#portfolio') Portfolio
  li: a(href='#contact') Contact

#home.nav-target

section.section-home: .container
  h1 Daniel Jones
  h2.subtitle Web Developer
  .networks: ul
    li: a(href='https://github.com/tortxof') #[i.fa.fa-github] GitHub
    li: a(href='https://www.linkedin.com/in/daniel-jones-9a95287b') #[i.fa.fa-linkedin-square] LinkedIn
    li: a(href='http://www.freecodecamp.com/tortxof') freeCodeCamp

#about.nav-target

section.section-about: .container

  h2 About

  p.

    I&rsquo;m a motivated, self-taught developer looking for an opportunity to
    work on either front-end or back-end web technologies. I&rsquo;ve been
    building websites with HTML and CSS since the late &rsquo;90s. Since 2012 I
    have been learning Python, and I very much enjoy using this language. My
    first exploration into back-end web programming was with the CherryPy
    framework. Since then I have used Flask and Django. In 2015 and early 2016 I
    spent a lot of time learning about front-end programming in JavaScript. My
    experience with Linux server administration goes back to the mid 2000s. I
    have experience deploying LAMP stack software such as phpBB and Wordpress.
    More recently, I&rsquo;ve employed Docker for deployment of my own Python back-end
    projects. I&rsquo;ve been employed for more than 10 years as a computer technician
    repairing Windows desktop and laptop computers.

  h3 Skills

  ul
    li HTML
    li CSS
    li JavaScript
    li jQuery
    li Handlebars
    li Python
    li Flask
    li Django
    li SQLite
    li Jekyll
    li Sass
    li Linux
    li BASH
    li Git
    li Node.js
    li Docker
    li NGINX
    li Apache
    li Amazon S3
    li Amazon EC2
    li Amazon Route 53
    li Let&rsquo;s Encrypt

#portfolio.nav-target

section.section-portfolio: .container

  h2 Portfolio

  h3 Pomodoro Timer

  p.

    #[img.left(src='https://s3.amazonaws.com/djones-imghost/jcF0oUdp/pomodoro-screenshot.jpg')]
    An app that helps the user in applying the
    #[a(href='https://en.wikipedia.org/wiki/Pomodoro_Technique') Pomodoro Technique]
    of time management.
    View project on #[a(href='http://codepen.io/tortxof/full/mVdave/') CodePen].

  .clearfix
  h3 Wikipedia Viewer

  p.

    #[img.right(src='https://s3.amazonaws.com/djones-imghost/riNDdsdA/wikiviewer-screenshot.jpg')]
    Uses AJAX requests to get search results from Wikipedia.
    Displays search results using #[a(href='http://handlebarsjs.com/') Handlebars] template.
    View project on #[a(href='http://codepen.io/tortxof/full/BjPWba/') CodePen].

  .clearfix
  h3 rc-club-members

  p.

    #[img.left(src='https://s3.amazonaws.com/djones-imghost/iT0BeIDm/rc-club-members-screenshot.jpg')]
    A Flask application for managing the membership roster of an RC club. The
    admin interface lists members based on membership expiry date (current,
    expired, previous year). Provides JSON import and export. Search using
    sqlite3 full text search (FTS4). Provides mass email using the Mailgun API
    for sending newsletters, announcements, etc. Read-only passwordless login is
    provided to members through a signed token sent in newsletters, or emailed
    to an individual member via the login page. Provides CSV and XLSX export of
    roster. Uses the Flask framework and peewee ORM. Deployed with Docker behind
    an nginx uwsgi proxy.
    Github repository at
    #[a(href='https://github.com/tortxof/rc-club-members') tortxof/rc-club-members].

  .clearfix
  h3 flask-signup

  p.

    This application provides a publicly-available self-serve form handling
    backend. The user retrieves a key pair (secret key and form key) from the
    app, then uses the form key in their HTML forms. The user can then use their
    secret key to retrieve submitted form data. The app provides both web and
    JSON interfaces. Uses the Flask framework and peewee ORM. Deployed with
    Docker behind an nginx reverse proxy.
    GitHub repo at #[a(href='https://github.com/tortxof/flask-signup') tortxof/flask-signup].
    Live at #[a(href='https://signup.djones.co/') signup.djones.co].

  .clearfix
  h3 Black Sheep RC Club

  p.

    #[img.right(src='https://s3.amazonaws.com/djones-imghost/sueAa0K-/bsrcc-screenshot.jpg')]
    Static website built using #[a(href='https://jekyllrb.com/') Jekyll].
    Started in January 2014.
    Uses #[a(href='http://susy.oddbird.net/') Susy] for CSS layout.
    PDF newsletters are generated using
    #[a(href='http://wkhtmltopdf.org/') wkhtmltopdf].
    Live website at #[a(href='https://www.bsrcc.com/') bsrcc.com].
    GitHub repository at
    #[a(href='https://github.com/tortxof/blacksheeprcclub-www/') tortxof/blacksheeprcclub-www].

#contact.nav-target

section.section-contact: .container

  h2 Contact

  .contact-email: h3: a(href='mailto:tortxof@gmail.com') tortxof@gmail.com
