.nav-wrap: nav: ul
  li: a(href='#home') Home
  li: a(href='#about') About
  li: a(href='#portfolio') Portfolio
  li: a(href='#contact') Contact
  
#home.nav-target

.section.section-home: .container
  h1 Daniel Jones
  h2.subtitle Web Developer
  .networks: ul
    li: a(href='https://github.com/tortxof') #[i.fa.fa-github] GitHub
    li: a(href='https://www.linkedin.com/in/daniel-jones-9a95287b') #[i.fa.fa-linkedin-square] LinkedIn
    li: a(href='http://www.freecodecamp.com/tortxof') freeCodeCamp

#about.nav-target

.section.section-about: .container
  h2 About
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, cumque, porro. Accusamus id esse, eligendi totam quas veniam assumenda odio officiis vitae facilis cupiditate, facere beatae necessitatibus error accusantium, sequi.
    
#portfolio.nav-target

.section.section-portfolio: .container
  h2 Portfolio
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati fugiat quaerat cumque sunt cupiditate quis. Quod odit velit reiciendis, ea fugit libero voluptates architecto, aliquam debitis, id possimus necessitatibus incidunt.

#contact.nav-target

.section.section-contact: .container
  h2 Contact
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor sunt maxime soluta? Dolore perferendis, velit voluptates adipisci consequatur vitae iusto cum ipsum quia esse, eos voluptatem. Tempora voluptatem velit impedit!
