@import url(https://fonts.googleapis.com/css?family=Lato)

// colors

$cBrown: #554236
$cOrange: #F77825
$cYellow: #D3CE3D
$cGold: #F1EFA5
$cTurq: #60B99A

// util vars

$shadow: 0 1px 4px -1px black

// typography

html
  font-size: 24px
  @media (max-width: 640px)
    font-size: 18px

body
  font-family: 'Lato', sans-serif
  line-height: 1.5
  color: $cBrown

a
  color: $cOrange
  text-decoration: none

h1
  font-size: 2.441em

h2
  font-size: 1.953em

h3
  font-size: 1.563em

h4
  font-size: 1.25em

small, .small
  font-size: 0.8em

// components

.clearfix
  clear: both

img.right
  float: right
  margin-left: 1em
  box-shadow: $shadow

img.left
  float: left
  margin-right: 1em
  box-shadow: $shadow

// layout

body
  margin: 0

nav
  position: fixed
  top: 0
  left: 0
  right: 0
  background-color: $cGold
  overflow: hidden
  box-shadow: 0 -4px 4px 4px black
  a
    display: block
    color: white
    text-decoration: none
    padding: 0.2ch 0.5ch
    margin: 0 1ch
    background-color: $cTurq
    @media (max-width: 640px)
      margin: 0 .5ch
      padding: .2ch
  ul
    text-align: right
    list-style: none
    padding: 0 1em 0 0
    margin: 0.5ch 0
    @media (max-width: 640px)
      padding: 0
      text-align: center
  li
    display: inline-block

section
  padding: 0 2em
  margin-bottom: 2em
  overflow: hidden
  &:last-of-type
    margin-bottom: 0

.container
  margin: 0 auto
  max-width: 60ch

// section styles

section.section-home
  background-image: url(https://s3.amazonaws.com/djones-imghost/_tvG9scL/portfolio_bg.jpg)
  background-position: center bottom
  background-size: cover
  display: flex
  align-items: center
  h1, h2
    text-align: center
  .subtitle
    font-weight: 400
  .networks
    ul
      padding: 0
      list-style: none
      display: flex
      flex-direction: column
      align-items: center
  h1
    margin-bottom: .2em
  h2
    margin-top: .2em
.avatar
  margin: 0 auto
  width: 160px
  height: 160px
  background-image: url(https://s3.amazonaws.com/djones-imghost/oQbrYhja/avatar-cc02.jpg)
  background-position: center center
  background-size: cover
  border-radius: 50%

section.section-about
  ul
    display: flex
    padding: 0
    flex-wrap: wrap
    justify-content: space-around
  li
    list-style: none
    display: block
    padding: .2em .5em
    margin: .3em
    border-radius: 1em
    background-color: $cTurq
    color: white

section.section-portfolio
  h3
    margin-left: 1em
  @media (max-width: 640px)
    img
      width: 50%
    h3
      margin-left: 0
      text-align: center

section.section-contact
  background-image: url(https://s3.amazonaws.com/djones-imghost/PPwLVh3q/contact-bg.jpg)
  background-position: center bottom
  background-size: cover
  position: relative
  .contact-email
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    display: flex
    justify-content: center
    align-items: center
